*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
}

html {
  font-family: Avenir, Helvetica, sans-serif;
  background: #faf7f3;
}

a {
  text-decoration: none;
}

#searchContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.search-field {
  box-shadow: 0 0 1rem 0 rgba(101, 102, 101, 0.3);
  margin: 15rem auto 0;
  padding: 0.5rem 3rem;
  background-color: #d2e6d4;
  border-radius: 2rem;
}

input {
  background-color: inherit;
  color: #344b59;
  font-family: inherit;
  font-size: 1.5rem;
  outline: none;
  border: 0;
}

button {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0 0 0 5rem;
  background: none;
  font-size: 1.5rem;
  color: gray;
  outline: inherit;
}

.paragraph {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

#code {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  color: #344b59;
}

/* #btn {
  position: absolute;
  margin: 0;
} */
